<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cam.dao.ScoreDao">

    <resultMap id="ScoreBaseMap" type="com.cam.model.Score">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="evaluatename" property="evaluatename" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
        <result column="addtime" property="addtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="addScore" parameterType="com.cam.model.Score">
        INSERT INTO t_score(evaluatename,username,score)
        VALUES (#{score.evaluatename},#{score.username},#{score.score})
    </insert>

    <select id="selectScoreByEvaluateName" resultMap="ScoreBaseMap">
        SELECT * FROM t_score
        WHERE evaluatename = #{name} ORDER BY username
    </select>

    <select id="selectScoreByUserName" resultMap="ScoreBaseMap">
        SELECT * FROM t_score
        WHERE username = #{name} ORDER BY evaluatename
    </select>

    <select id="selectScoreByUserAndEvaluateName" resultMap="ScoreBaseMap">
        SELECT * FROM t_score
        WHERE username = #{username} AND evaluatename = #{evaluatename}
    </select>

    <update id="updateScoreByUserAndEvaluateName">
        UPDATE t_score set score=#{score},addtime=now() where username = #{username} AND evaluatename = #{evaluatename}
    </update>

    <delete id="deleteByEvaluatename">
        DELETE t_score WHERE evaluatename = #{evaluatename}
    </delete>

</mapper>